
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Movie</title>
    <style> 
      #grad {
  background-image: linear-gradient(to right, lightgreen , rgb(141, 233, 202));
  box-shadow: rgb(46, 44, 44) 
}
    body{padding:2%;}
    .continer{
      padding-left:10%;
      padding-top:2%;
      padding-right:10%;
    }
    .a1{
      text-decoration: none;
      border-style: solid;
      padding:10px;
      background-color: #4CAF50;
      border-color: #4CAF50;
      color:#ffffff;
    }
input[type=file] {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(5, 5, 5);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #4CAF50;
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(202, 199, 199);
  background-color: rgb(255, 255, 255);
  border-color:rgb(194, 196, 196);

  color: rgb(0, 0, 0);
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(202, 199, 199);
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
  border-color:rgb(194, 196, 196);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
        </style>
    </head>
<body>
    <ul>
        <li><a class="active">IMDB.com</a></li>
        <li><a href="home">Home</a></li>
        <li><a>ADD Movie</a></li>
      </ul>
      


  <h1>Add New Movie</h1>
  <div class="continer" id="grad">
<form method="POST" action="addmovie">{% csrf_token %}


      <label for="moviename">Movie Name</label>
      <input type="text" name="moviename">

      <label for="yearofrelease">Year Of Release</label>
      <input type="text" name="yearofrelease">

      <label for="plot">plot</label>
      <textarea name="plot"></textarea>

      <label for="image">Poster</label>
      <input type="file" name="image" enctype="multipart/form-data" accept="image/*">
      
</br>
      <label for="cast">Cast</label>
      <select multiple name="cast" >
        
          {% for entry in items %}
              <option value="{{ entry.name }}">{{ entry.name }}</option>
          {% endfor %}
          </select> 

          <label for="fname">+</label>
          <a class="a1" href="javascript:void(0);" NAME="Error Handling"   onClick=window.open("addactors","Ratting","width=550,height=470,menubar=0,left=150,top=200,toolbar=0,status=0,");>
            Add New Actor</a>
          
          
          <input type="submit" value="save">
          <input type="reset" value="cancel">
  </form>
</div>
</body>
</html>






